.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 0;
	@apply bg-purple-700 text-white shadow-sm;
	/*box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);*/
	z-index: 50;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.header h1 {
	@apply px-2;
	font-size: 24px;
	font-weight: 400;
	@apply text-white;
}

.header .clock {
	@apply text-white;
}

.header nav {
	font-size: 100%;
	@apply pr-2;
}

.header nav a {
	display: inline-block;
	height: 56px;
	line-height: 56px;
	padding: 0 15px;
	min-width: 50px;
	text-align: center;
	@apply bg-purple-700 text-white;
	text-decoration: none;
	will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
	@apply bg-purple-800;
}

.header nav a.active {
	@apply bg-white text-purple-700 ring-purple-700 ring-4;
}
